.blubs {
  display: 'flex';
  flex-direction: 'row';
}
.blubs div {
  padding: 20px;
  background-color: 'red';
  /* min-width: 200px; */
  border: 1px Solid #d7d7d7;
}

.projects div {
  justify-content: 'left';
  max-width: '25%';
}
